Aqui entraremos com a cor, com a beleza estética, com efeitos, animações, etc.

cores predominantes da pagina que não se alteram...
[Preto+Laranja]
[Reggae]
[OCBPOSSEOFICIAL]
[Metralha-Baile]
Quem sou eu [aline_marley13
Aline Marley
9 publicações
2000 seguidores
A seguir 5380
Criador de conteúdos digitais
CEO: @o.c.bposse
selecta🎼🎧
𝕲𝖊𝖒𝖎𝖓𝖎𝖆𝖓𝖆♊
ANARQUISTA!🏴‍☠️
𝕸ã𝖊 𝖉𝖊 3 💝
Aline Marley
]
==============
OCBPOSSE: Nós Os Caça Baile Posse (O.C.B) organizamos os bailes no intuito de passar a cultura sound system e 

https://github.com/ocbposse/OCBPOSSEOFICIAL/new/main
